.tour__card {
  .card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background: #f9fbe7;

    .tour__img {
      position: relative;

      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        width: max-content;
        height: max-content;
        z-index: 10;
        background: var(--primary-color);
        color: var(--heading-color);
        padding: 0.1rem 0.5rem;
        border-radius: 10px 0 0 0;
        font-size: 14px;
      }
    }
    .card__top {
      span {
        svg {
          color: var(--secondary-color);
          font-size: 1rem;
        }
      }

      .tour__rating {
        font-size: 0.9rem;
        color: var(--text-color);
      }

      .tour__location {
        color: var(--heading-color);
        font-weight: 500;
        font-size: 0.9rem;
      }
    }
    .tour__title {
      margin-top: 1rem;
      font-size: 1.1rem;
      cursor: pointer;

      a {
        text-decoration: none;
        color: var(--heading-color);
        transition: 0.3s;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }

    .card__bottom {
      h5 {
        color: var(--secondary-color);

        span {
          font-weight: 500;
          color: var(--text-color);
          font-size: 0.9rem;
        }
      }

      .booking__btn {
        background: var(--secondary-color) !important;
        cursor: pointer;
        padding: 0.2rem 0.5rem !important;

        a {
          text-decoration: none;
          font-size: 0.9rem;
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

// ================== Making Responsive ==============
@media only screen and (max-width: 992px) {
  .booking__btn {
    width: 70%;
    a {
      font-size: 1rem !important;
    }
  }
  .tour__title {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 776px) {
  .booking__btn {
    width: 50% !important;
    a {
      font-size: 1rem !important;
    }
  }
  .tour__title {
    font-size: 1rem;
  }
  .tour__location,
  .tour__rating {
    font-size: 0.8rem;
  }
}
